
<h1 class="welcome-message">Welcome, <%= current_user.username %>! Look what you missed:</h1>

<% @posts.each do |post| %>
  <div class="post">
    <p><strong>Author:</strong> <%= link_to post.user.username, posts_path(username: post.user.username) %></p>
    <p><strong>Content:</strong> <%= post.content %></p>
    <p><strong>Last Updated:</strong> <%= post.updated_at.strftime("%B %d, %Y at %I:%M %p") %></p>
    <div class="actions">

          <%= link_to 'View the post - ', post_path(post) %>

      <%= pluralize(post.comments.count, 'Comment') %>
      <% if post.user == current_user %>
        | <%= link_to 'Edit', edit_post_path(post) %>
    <%= button_to 'Delete Post', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "delete-button" %>
      <% end %>
    </div>
  </div>
<% end %>
