<!DOCTYPE html>
<html>
  <head>
    <title>DemoRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
  <% if logged_in? %>
    <p>Logged in as <strong><%= current_user.username %></strong></p>
<%= button_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' }, class: "logout-button" %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</nav>


    <% if flash[:notice] %>
      <p style="color: green;"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p style="color: red;"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
